

/**********************/

#app-right-top{
    z-index: 4;
    position: absolute;
    top: 12px;
    right: 10px;
}
/*tool center*/
#tool-center{
    float: right;
    border: none;
    height: 30px;
    margin-top: 13px;
    margin-right: 25px;
    position: relative;
}
#add-click-tool{
    border-radius: 5px;
    height: 30px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    text-align: center;
    vertical-align: center;
    float: right;
}
#open-adcode-histogram{
    border-radius: 5px;
    height: 30px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    padding-bottom: 3px;
    float: right;
}



/*user center*/
#user-center{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    visibility: visible;
    position: relative;
    top: -7px;
    float: right;
}
.avatar-abstract{
    background-color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: opacity .4s linear;
    transition: opacity .4s linear;
}

#welcom-nickname{

}

/**********************************************/
#message-center {
    float: right;
    margin-top: 13px;
    margin-right: 10px;
    position: relative;
}
#message-center .message-center-entrance {
    width: 32px;
    height: 32px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    cursor: pointer;
    border-radius: 2px;
    background: url('../img/newtools_cc97086.png') no-repeat -115px -166px #fff ;
}
#message-panel {
    position: fixed;
    top: 55px;
    right: 60px;
    display: block;
    line-height: 0;
}
.center-show{  /*同时适用于message-center和tool-center等*/
    display: block;
}
.center-hidden{
    display: none;
}







/*********************************************/
.center{text-align: center;}
.htmleaf-container{
    display: none;  /*登录框默认不显示*/
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);

}

.log-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.tenant-model-header{
    height:30px;
    box-sizing:border-box;
    /*border-bottom:1px solid #ccc;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.closeModel{
    color: #b7b7b7;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    transition: all 0.3s;
}
.closeModel:hover,#closeModel:focus{
    color: #95b4ed;
    text-decoration: none;
    cursor: pointer;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);   /* 0 0 20px 0 rgba(0, 0, 0, 0.2),*/
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Microsoft YaHei","Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

.shake_effect{
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
@-webkit-keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
p.center{
    color: #fff;font-family: "Microsoft YaHei";
}
.modal-overlay {

    position: absolute;   /* 使用绝对定位或固定定位  */
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    background-color: #333;
    opacity: 0.5;   /* 背景半透明 */
    transform: translate(0,0);
}
.modal-overlay div {


    opacity: 1;   /* 背景半透明 */
}


.login-logout-page-show{
    display: block;
}
.login-logout-page-hidden{
    display: none;
}
