#inner-histogram{
    height: 450px;
    width: 600px;
}
#inner-pie{
    height: 450px;
    width: 600px;
}

.blurred-bg
{

    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.histogram-page {
    border-radius: 5px;
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);

    background-color: rgba(238,238,238,0.9);  /*影响统计图透明度*/

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);*/
}
/*histogram*/
.histogram-page{
    width: 600px;
    height: 500px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.histogram-page .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}

.histogram-page .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}
.histogram-page .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}
.histogram-page .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}
.histogram-page .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}
.histogram-page .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}

/************************/
.cd-switcher{
    margin: 0;
}

#inner-histogram, #inner-pie {
    display: none;
}

#inner-histogram.is-selected, #inner-pie.is-selected{
    display: block;
}